<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDHMN</title>
    <meta name="description" content="EDHMN" />
    <meta name="keywords" content="EDHMN">
    <meta name="theme-color" content="#3B787D">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../css/libs/solid.css">
    <link rel="stylesheet" href="../css/libs/brands.css">
    <link rel="stylesheet" href="../css/libs/regular.css">
    <link rel="stylesheet" href="../css/libs/fontawesome.css">
    <!-- Plugins links -->
    <link rel="stylesheet" href="../css/libs/animate.min.css">
    <link rel="stylesheet" href="../css/libs/aos.css">
    <link rel="stylesheet" href="../css/libs/owl.carousel.css">
    <!-- Style -->
    <link rel="stylesheet" href="../css/bootstrap.rtl.css">
    <link rel="stylesheet" href="../css/style.rtl.css">
</head>

<body>

    <!-- Loading page -->
    <div class="loading-wrap">

    </div>

    <!-- Content -->
    <div class="wrap-fullpage">
        <!-- Start Header -->
        <header id="main-header">
            <img src="../assets/img/global/svghead.svg" draggable="false" class="header__img" alt="header">


            <nav class="navbar navbar-expand-lg bg-black bg-opacity-50 fixed-top">
                <div class="container-xl container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/img/global/logo.png" alt="logo شعار الموقع">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#mainNavbar">
                        <span class="fas fa-bars text-white fs-3"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="mainNavbar">
                        <div class="offcanvas-header border-bottom">
                            <h5 class="offcanvas-title" id="mainNavbarLabel">القائمة</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                        </div>
                        <div class="offcanvas-body align-items-lg-center">
                            <ul class="navbar-nav  flex-grow-1 pe-3 align-items-lg-center">

                                <li class="nav-item">
                                    <a class="nav-link px-lg-5" href="index.html" data-lang="home_link">الرئيسية</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-lg-5" href="index.html" data-lang="weare_link">من نحن</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-lg-5" href="index.html" data-lang="features_link">مميزاتنا</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-lg-5" href="index.html" data-lang="contactus_link">تواصل
                                        معنا</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ms-lg-5 px-4 py-3 bg-white rounded-pill nav-btn"
                                        href="index.html" data-lang="signasrest_link">سجل كمطعم</a>
                                </li>

                            </ul>
                            <hr class="d-lg-none">
                            <div class="dropdown text-lg-center language-toggler">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    عربي
                                </button>
                                <ul class="dropdown-menu border-0 shadow-sm">
                                    <li><button class="dropdown-item active" data-lang="arbtn_langtoggler"
                                            data-lang-type="ar" type="button">عربي</button></li>
                                    <li><button class="dropdown-item " data-lang="enbtn_langtoggler" data-lang-type="en"
                                            type="button">انجليزي</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </nav>


            <div class="header__content">
                <div class="container-xl container-fluid">
                    <div class="row gy-5">
                        <div class="col-lg-5">
                            <section class="bg-black bg-opacity-50  p-5 mx-auto mx-lg-0 text__box">
                                <h2 class="text-white mb-3 content__title" data-lang="introtitle_header">مرحبا بكم في
                                    تطبيق اضمن</h2>
                                <p class="text-white content__paragraph" data-lang="introparagraph_header">
                                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد
                                    النص
                                    العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة
                                    عدد
                                    الحروف التى يولدها
                                    إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما
                                    تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع
                                    على
                                    وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم
                                    الموقع.
                                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد
                                    النص
                                    العربى، حيث يمكنك أن
                                </p>
                                <ul class="nav gap-3">
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><img
                                                src="../assets/img/global/appstore-free-img.png"
                                                alt="تحميل التطبيق من appstore"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#">
                                            <img src="../assets/img/global/playstore-free-img.png" alt="playstore">
                                        </a>
                                    </li>

                                </ul>
                            </section>
                        </div>
                        <div class="col-xl-6 col-lg-7 offset-xl-1 text-center">
                            <img src="../assets/img/global/mobiles.png" class="img-fluid" alt="mobiles">
                        </div>
                    </div>
                </div>

            </div>
        </header>

        <!-- Start Content -->
        <main>
            <div class="container">
                <!-- Slider -->
                <div class="owl-carousel position-relative py-5 discountslider">
                    <article class="position-relative discount__item">
                        <h3 class="display-5 item__text" data-lang="discount_text_1">
                            خصم 30% على اول 3 اوردرات من خلالنا يلا اطلب اوردرك الان مستنى اى !!
                        </h3>
                        <img src="../assets/img/slider/meat-burger-with-french-fries.jpg" draggable="false"
                            class="item__img" alt="برجر عرض">
                    </article>
                    <article class="position-relative discount__item">
                        <h3 class="display-5 item__text" data-lang="discount_text_2">
                            خصم 30% على اول 3 اوردرات من خلالنا يلا اطلب اوردرك الان مستنى اى !! خصم 30% على اول 3
                            اوردرات من خلالنا يلا اطلب اوردرك الان مستنى اى !!
                        </h3>
                        <img src="../assets/img/slider/meat-burger-with-french-fries.jpg" draggable="false"
                            class="item__img" alt="برجر عرض">
                    </article>
                    <article class="position-relative discount__item">
                        <h3 class="display-5 item__text" data-lang="discount_text_1">
                            خصم 30% على اول 3 اوردرات من خلالنا يلا اطلب اوردرك الان مستنى اى !!
                        </h3>
                        <img src="../assets/img/slider/meat-burger-with-french-fries.jpg" draggable="false"
                            class="item__img" alt="برجر عرض">
                    </article>
                    <article class="position-relative discount__item">
                        <h3 class="display-5 item__text" data-lang="discount_text_2">
                            خصم 30% على اول 3 اوردرات من خلالنا يلا اطلب اوردرك الان مستنى اى !! خصم 30% على اول 3
                            اوردرات من خلالنا يلا اطلب اوردرك الان مستنى اى !!
                        </h3>
                        <img src="../assets/img/slider/meat-burger-with-french-fries.jpg" draggable="false"
                            class="item__img" alt="برجر عرض">
                    </article>
                </div>

                <!-- About Us -->
                <div id="aboutus-section" class="py-5">
                    <div class="row g-3">
                        <div class="col-xxl-7">
                            <img src="../assets/img/global/aboutus-mobiles.png" alt="من يكون اضمن EDHMN"
                                class="img-fluid">
                        </div>
                        <div class="col-xxl-5">
                            <article class="mx-auto text__box">
                                <h3 class="h2 mb-3 about__title">من نحن</h3>
                                <p class="lead fs-4 mb-0">
                                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                    مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة
                                    إلى زيادة عدد الحروف التى يولدها
                                    <br>
                                    المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية
                                    لتصميم الموقع.
                                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد
                                    النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى
                                    إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما
                                    تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع
                                    على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم
                                    الموقع. إلى زيادة عدد الحروف التى يولدها التطبيق.

                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <!-- Scripts -->
    <!-- Language file -->
    <script src="../js/lang.js"></script>


    <!-- !Note: Bootstrap doesnt depend on jquery -->
    <script src="../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../js/libs/aos.js"></script>
    <script src="../js/libs/owl.carousel.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>
